.navbar 
    .container
        a(href="index.html").navbar__logo 
            img(src="", alt="")
        .navbar__menu
            a(href="index.html").navbar__menu__link Home
            a(href="about.html").navbar__menu__link About